@import 'fonts/breeserif/stylesheet.css';

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
ul.unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}
.content {
    margin: 0 auto;
    width: 980px;
}

.content p {
    text-indent: 45px;
    font-family: 'bree_serifregular';
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

#content-wrapper {
    position: relative;
    overflow: hidden;
}

#fb {
    position: absolute;
    top: 338px;
    right: -360px;
    border: 1px solid #426edd;
    width: 340px;
    padding: 9px;
    background-color: #ffffff;
    z-index: 1010;
}

#fb .fb-tab {
    background: transparent url('../images/fb_tab_bg.png') no-repeat left top;
    height: 200px;
    width: 70px;
    position: absolute;
    top: -1px;
    left: -70px;
    cursor: pointer;
}

#top {
    background: transparent url('../images/top_bg.jpg') no-repeat center top;
    position: relative;
    z-index: 1002;
}

#top .content {
    background: transparent url('../images/top_content_bg.jpg') no-repeat left top;
    height: 692px;
    position: relative;
}

#top-title {
    padding-top: 250px;
    margin-left: -40px;
    width: 500px;
}

#top-title img {
    display: block;
}

#show-kontakt {
    background: transparent url('../images/skontaktuj_bg.png') no-repeat left top;
    padding: 41px 0 0 151px;
    width: 198px;
    height: 93px;
    position: absolute;
    left: 311px;
    bottom: -72px;
    font-family: 'bree_serifregular';
    font-size: 24px;
    line-height: 20px;
    color: #ffffff;
    text-shadow: 0px 1px 2px rgba(206, 119, 1, 0.99);
}

#show-kontakt:hover {
    background-position: left bottom;
}

#o-nas {
    background: transparent url('../images/onas_bg.jpg') no-repeat center center;
}

#o-nas-title {
    padding-top: 55px;
}

#o-nas-title img {
    display: block;
}

#o-nas .content {
    background: transparent url('../images/onas_content_bg.jpg') no-repeat center center;
    height: 927px;
    position: relative;
    z-index: 1001;
}

#o-nas .content .text-top {
    padding-top: 33px;
    width: 510px;
}
#o-nas .content h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    max-width: 90%;
    margin: 0 auto 25px;
}
#o-nas .content .bigger {
    margin-top: 35px;
    font-size: 16px;
    text-indent: 0;
    text-align: center;
}

#o-nas .content .opcje {
    padding-left: 25px;
    height: 179px;
    position: absolute;
    bottom: 160px;
    right: 0;
}
#o-nas .content .opcje .items {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
#o-nas .content .opcje p {
    text-indent: 0;
    text-align: center;
}

#o-nas .content .opcje .item {
    padding-top: 46px;
    float: left;
    height: 133px;
    width: 155px;
    color: #ffffff;
}

#o-nas .content .opcje .item .icon .top {
    font-family: 'bree_serifregular';
    text-align: center;
    font-size: 34px;
    line-height: 24px;
}

#o-nas .content .opcje .item .icon .bottom {
    font-family: 'bree_serifregular';
    text-align: center;
    font-size: 14px;
    line-height: 14px;
}

#o-nas .content .opcje .item .text {
    font-family: 'bree_serifregular';
    padding-top: 37px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

#o-nas .content .opcje .item.szkoly {
    background: transparent url('../images/opcje_szkoly_bg.png') no-repeat left top;
}

#o-nas .content .opcje .item.przedszkola {
    background: transparent url('../images/opcje_przedszkola_bg.png') no-repeat left top;
}

#o-nas .content .opcje .item.dorosli {
    background: transparent url('../images/opcje_dorosli_bg.png') no-repeat left top;
}

#o-nas .content .text-bottom p:first-child {
    text-indent: 15px;
}

#tematy {
    background: transparent url('../images/tematy_bg.jpg') no-repeat center center;
    height: 723px;
    margin-top: -40px;
}

#tematy .content {
    position: relative;
    font-family: 'bree_serifregular';
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1001;
}
#tematy .content ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
}
#tematy .content ul li {
    padding-right: 36px;
    margin: 25px 0;
    width: calc(50% - 36px);
}
#tematy .content ul li .month {
    background: transparent url('../images/months.png?ver=2') no-repeat;
    height: 35px;
    width: 209px;
}
#tematy .content ul li:nth-child(1) .month {
    background-position: 0% 0%;
    width: 226px;
}
#tematy .content ul li:nth-child(2) .month {
    background-position: 100% 0%;
}
#tematy .content ul li:nth-child(3) .month {
    background-position: 0% 100%;
}
#tematy .content ul li:nth-child(4) .month {
    background-position: 100% 100%;
}
#tematy .content p {
    text-indent: 0;
}
#tematy .content p.title {
    font-size: 19px;
    text-transform: uppercase;
    margin: 30px 0 20px;
}
#tematy .content p.instruments {
    color: #fff347;
}

#tematy .item .content .text {
    font-family: 'bree_serifregular';
    text-align: center;
    font-size: 40px;
    line-height: 35px;
    color: #ffffff;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
}

#tematy .item.first {
    background: transparent url('../images/tematy_first_bg.jpg') no-repeat center top;
}

#tematy .item.first .content {
    background: transparent url('../images/tematy_first_content_bg.jpg') no-repeat left top;
    position: relative;
    height: 451px;
}

#tematy-title {
    position: absolute;
    top: -80px;
    left: -20px;
}

#tematy-title img {
    display: block;
}

#tematy .item.first .content .text {
    padding-top: 339px;
}

#tematy .item.second {
    background: transparent url('../images/tematy_second_bg.jpg') no-repeat center top;
}

#tematy .item.second .content {
    background: transparent url('../images/tematy_second_content_bg.jpg') no-repeat left top;
    height: 451px;
}

#tematy .item.second .content .text {
    padding-top: 340px;
}

#tematy .item.third {
    background: transparent url('../images/tematy_third_bg.jpg') no-repeat center top;
}

#tematy .item.third .content {
    background: transparent url('../images/tematy_third_content_bg.jpg') no-repeat left top;
    height: 451px;
}

#tematy .item.third .content .text {
    padding-top: 267px;
}

#tematy .item.fourth {
    background: transparent url('../images/tematy_fourth_bg.jpg') no-repeat center top;
}

#tematy .item.fourth .content {
    background: transparent url('../images/tematy_fourth_content_bg.jpg') no-repeat left top;
    height: 451px;
}

#tematy .item.fourth .content .text {
    padding-top: 340px;
}

#tematy .item.fifth {
    background: transparent url('../images/tematy_fifth_bg.jpg') no-repeat center top;
}

#tematy .item.fifth .content {
    background: transparent url('../images/tematy_fifth_content_bg.jpg') no-repeat left top;
    height: 451px;
}

#tematy .item.fifth .content .text {
    padding-top: 364px;
}

#after-tematy {
    background: transparent url('../images/tematy_after_bg.jpg') no-repeat center top;
    height: 778px;
    margin-top: -64px;
}
#after-tematy .content {
    color: #fff;
    height: 100%;
    padding-top: 135px;
    position: relative;
}
#after-tematy .content .gallery-photo-bg {
    background: url('../images/gallery-photo-bg.png') no-repeat center center;
    background-size: contain;
    position: absolute;
    bottom: 20px;
    height: 100%;
    width: 100%;
}
#after-tematy .content ul {
    font-size: 15px;
    font-family: 'bree_serifregular';
    list-style: none;
    padding: 10px 0 0;
    line-height: 30px;
}
#after-tematy .content ul li {
    position: relative;
}
#after-tematy .content ul li:before {
    background: url('../images/bullet.png') no-repeat center center;
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

#oferty {
    background: transparent url('../images/oferty_bg.jpg') no-repeat center top;
    margin-top: -93px;
    height: 815px;
}

#oferty .content {
    height: 625px;
}

#oferty-title {
    padding-top: 105px;
}

#oferty-title img {
    display: block;
}

#oferty .content .text-top {
    padding-top: 59px;
    width: 470px;
}

#oferty .content .text-top p {
    text-indent: 0;
}

#oferty .content .text-top p.title-top {
    font-size: 35px;
    line-height: 35px;
    color: #ffe745;
}

#oferty .content .text-top p.title-bottom {
    padding-bottom: 26px;
    font-size: 25px;
    line-height: 30px;
    color: #ffe745;
}

#oferty-subtitle {
    padding: 200px 0 0 300px;
}

#oferty-subtitle img {
    display: block;
}

#oferty .content .inne {
    padding: 35px 99px 0 99px;
}

#oferty .content .inne .item {
    float: left;
    width: 391px;
    height: 301px;
}

#oferty .content .inne .item .text-top {
    padding: 144px 0 14px 0;
    font-family: 'bree_serifregular';
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    width: 391px;
    color: #ffffff;
}

#oferty .content .inne .item .text-bottom {
    font-family: 'bree_serifregular';
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #ffcdc5;
}

#oferty .content .inne .item.first {
    background: transparent url('../images/oferty_inne_first_bg.png') no-repeat left top;
}

#oferty .content .inne .item.second {
    background: transparent url('../images/oferty_inne_second_bg.png') no-repeat left top;
}

#oferty .content .inne .item.third {
    background: transparent url('../images/oferty_inne_third_bg.png') no-repeat left top;
}

#oferty .content .inne .item.fourth {
    background: transparent url('../images/oferty_inne_fourth_bg.png') no-repeat left top;
}

#kontakt {
    background: transparent url('../images/kontakt_bg.jpg') no-repeat center top;
}

#kontakt .content {
    background: transparent url('../images/kontakt_content_bg.jpg') no-repeat left top;
    height: 1015px;
}

#kontakt-title {
    padding: 65px 320px 0 320px;
}

#kontakt-title img {
    display: block;
}

#kontakt .content .email {
    padding: 49px 0 10px 0;
    font-family: 'bree_serifregular';
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

#kontakt .content .email span {
    font-size: 15px;
    color: #ffbecf;
}

#kontakt .content .phone {
    font-family: 'bree_serifregular';
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
}

#kontakt .content .phone span {
    font-size: 15px;
    color: #ffbecf;
}

#kontakt .content .contact-form {
    padding-top: 32px;
}

#kontakt .content .contact-form .form-row {
    padding: 0 240px 11px 240px;
}

#kontakt .content .contact-form .form-row textarea,
#kontakt .content .contact-form .form-row input {
    outline: none;
    border: 1px solid #f97ba3;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    padding: 18px 30px;
    margin: 0 auto;
    width: 438px;
    font-family: 'bree_serifregular';
    font-size: 20px;
    line-height: 30px;
    background-color: #e03166;
    text-align: center;
    color: #f18b9f;
    box-shadow: 0px 0px 27px 0px rgba(198, 12, 79, 1);
}

#kontakt .content .contact-form .form-row textarea:hover,
#kontakt .content .contact-form .form-row input:hover {
    color: #ffffff;
}

#kontakt .content .contact-form .form-row textarea:focus,
#kontakt .content .contact-form .form-row input:focus {
    background-color: #b80649;
    color: #ffffff;
}

#kontakt .content .contact-form .form-row textarea {
    height: 160px;
    resize: none;
}

#kontakt .content .contact-form .form-buttons {
    padding: 18px 370px 0 370px;
}

#kontakt .content .contact-form .form-buttons button {
    background: transparent url('../images/kontakt_submit.png') no-repeat left top;
    padding: 0;
    outline: none;
    border: none;
    display: block;
    width: 240px;
    height: 100px;
    cursor: pointer;
    font-family: 'bree_serifregular';
    font-size: 25px;
    line-height: 35px;
    color: #ffffff;
    text-transform: uppercase;
}

#kontakt .content .contact-form .form-buttons button:hover {
    background-position: left bottom;
}

#kontakt .content .footer {
    padding-top: 25px;
}

#kontakt .content .footer .copyright {
    font-size: 14px;
    line-height: 28px;
    width: 490px;
    float: left;
    color: #f8b1cb;
}

#kontakt .content .footer .copyright span {
    color: #ffffff;
}

#kontakt .content .footer .design {
    text-align: right;
    font-size: 14px;
    line-height: 28px;
    width: 490px;
    float: right;
    color: #f8b1cb;
}

#kontakt .content .footer .design a {
    background: transparent url("../images/lemo.png") no-repeat scroll 0px 1px;
    display: inline-block;
    height: 28px;
    width: 72px;
    float: right;
    margin-left: 5px;
}

.qtip {
    font-family: 'bree_serifregular';
    font-size: 12px;
    line-height: 18px;
}

/* Youtube modal */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    display: block;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.modalDialog > div {
    width: 640px;
    position: relative;
    margin: 10% auto;
    padding: 13px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 26px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 27px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
    cursor: pointer; 
    cursor: hand;
}